# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea

/noteforestx_server/config/config.yaml
/noteforestx_server/db_migrated_sign
/noteforestx_server/saved